#!/usr/bin/make -f
# -*- makefile -*-

CFLAGS += -fno-builtin -Wall -Iinclude/soc/j721e -Isoc/j721e/evm -Iinclude

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#https://git.ti.com/gitweb?p=k3-image-gen/k3-image-gen.git;a=tags
#
#TAG=08.01.00.006
#https://github.com/beagleboard/k3-image-gen/compare/08.01.00.006...08.02.00.006
#TAG=08.02.00.006
#https://github.com/beagleboard/k3-image-gen/compare/08.02.00.006...08.03.00.005
TAG=08.03.00.005

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	git clone -b $(TAG) https://github.com/beagleboard/k3-image-gen.git --depth=5
	cd ./k3-image-gen/ ; make SOC=j721e CONFIG=evm CROSS_COMPILE=arm-linux-gnueabihf-

%:
	dh $@

