#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#https://github.com/TexasInstruments/neo-ai-dlr/commits/tidl-j7

SRC_REPO="https://github.com/TexasInstruments/neo-ai-dlr.git"
SRC_BRANCH=TIDL_PSDK_8.6.0
#SRC_SHA=
SRC=neo-ai-dlr

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch $(SRC_BRANCH) --depth 1 $(SRC_REPO) ./tmp/opt/$(SRC)/
	cd ./tmp/opt/$(SRC)/ ; git submodule update --init --recursive ; mkdir build
	cd ./tmp/opt/$(SRC)/build/ ; cmake -DUSE_TIDL=ON -DUSE_TIDL_RT_PATH=/opt/ti-processor-sdk-rtos-j721e-evm-08_06_00_12/tidl_j721e_08_06_00_10/arm-tidl/rt -DDLR_BUILD_TESTS=OFF .. ; make -j4 ; make install DESTDIR=../../../
	cd ./tmp/opt/$(SRC)/python ; python3 setup.py install --prefix=../usr

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
