#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

override_dh_auto_configure:
	mkdir -p ./tmp/opt/dlpack/ ; cp -r /opt/dlpack/* ./tmp/opt/dlpack/
	mkdir ./tmp/opt/dlpack/build/
	cd ./tmp/opt/dlpack/build/ ; cmake -DCMAKE_INSTALL_PREFIX=/usr .. ; make -j4 ; make install DESTDIR=../../../

%:
	dh $@
