#!/usr/bin/make -f

# reprepro can't handle ubuntu's deb-dbg...
DEB_BUILD_OPTIONS=noautodbgsym

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --with=python3 --buildsystem=meson

override_dh_builddeb:
	dh_builddeb -- -Zxz
