Source: ti-onnxruntime-8.1
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , cmake
 , dh-python
 , libtool
 , python3-dev
 , python3-numpy
 , python3-pip
 , python3-pybind11
 , ti-onnxruntime-src-8.1
 , tree
 , unzip
Standards-Version: 4.5.1

Package: ti-onnxruntime-8.1
Architecture: arm64
Depends:
 ${misc:Depends}
 , python3-numpy
 , python3-protobuf
Description: TI onnxruntime
 TI onnxruntime
