#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone https://git.ti.com/git/graphics/ti-img-rogue-umlibs.git ./tmp/opt/sgx ; cd ./tmp/opt/sgx ; git checkout -b tmp 452b0f50d2984171c81d5a0d3b22198177d919ad

%:
	dh $@
