Source: bb-u-boot-sk-am69
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , bc
 , bison
 , ca-certificates
 , device-tree-compiler
 , flex
 , gcc-arm-linux-gnueabihf
 , git
 , libssl-dev
 , python3-cryptography
 , python3-dev
 , python3-jsonschema
 , python3-pycryptodome
 , python3-pyelftools
 , python3-setuptools
 , python3-yaml
 , rsync
 , swig
 , u-boot-tools
 , yamllint
Standards-Version: 4.5.1

Package: bb-u-boot-sk-am69
Architecture: arm64
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , mmc-utils
Description: bb-u-boot-sk-am69
 bb-u-boot-sk-am69
