Source: ti-neo-ai-dlr-8.1
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , cmake
 , dh-python
 , git
 , python3-dev
 , python3-numpy
 , python3-pip
 , python3-setuptools
 , llvm
 , llvm-11-dev
 , ti-processor-sdk-rtos-meta-psdkla
 , tree
Standards-Version: 4.5.1

Package: ti-neo-ai-dlr-8.1
Architecture: arm64
Depends:
 ${misc:Depends}
Breaks: ti-tvm-8.1
Conflicts: ti-tvm-8.1
Description: TI vision-apps
 TI vision-apps
