Source: ti-edgeai-8.5
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: ti-edgeai-8.5-base
Section: metapackages
Architecture: all
Depends:
 , graphicsmagick-imagemagick-compat
 , ti-edgeai-gst-plugins-8.5
 , ti-edgeai-tiovx-modules-8.5
 , ti-rpmsg-char
 , ti-neo-ai-dlr-8.5
 , ti-onnxruntime-8.5
 , ti-tensorflow-8.5
 , ti-tidl-8.5
 , ti-tidl-rt
 , ti-vision-apps-8.5
 , ti-vision-apps-eaik-firmware-8.5
 , ti-edgeai-apps-src-8.5
 , ti-edgeai-apps-model-zoo-8.5
 , ti-edgeai-apps-8.5
Description: TI Edge AI Base 8.5
 TI Edge AI Base 8.5

Package: ti-edgeai-8.5-src
Section: metapackages
Architecture: all
Depends:
 , ti-edgeai-apps-src-8.5
 , ti-tensorflow-src-8.5
 , ti-onnxruntime-src-8.5
 , ti-dlpack-src-8.5
Description: TI Edge AI Base src 8.5
 TI Edge AI Base src 8.5
