#!/usr/bin/make -f
# -*- makefile -*-

CFLAGS += -fno-builtin -Wall -Iinclude/soc/j721e -Isoc/j721e/evm -Iinclude

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	git clone https://github.com/beagleboard/k3-image-gen --depth=1
	cd ./k3-image-gen/ ; make SOC=j721e CONFIG=evm CROSS_COMPILE=arm-linux-gnueabihf-

%:
	dh $@

