#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SGX_TAG="linuxws/scarthgap/k6.12/24.2.6643903"
SGX_REPO="http://forgejo.gfnd.rcn-ee.org:3000/TexasInstruments/ti-img-rogue-umlibs.git"

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/sgx/ ; git clone -b $(SGX_TAG) $(SGX_REPO) --depth=5 ./tmp/sgx/ ; git --git-dir ./tmp/sgx/.git log --pretty=oneline

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
