Source: ti-edgeai-apps-8.1
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , cmake
 , git
 , libyaml-cpp-dev
 , libopencv-core-dev
 , libopencv-imgproc-dev
 , ti-neo-ai-dlr-8.1
 , ti-rpmsg-char
 , wget
Standards-Version: 4.5.1

Package: ti-edgeai-apps-8.1
Architecture: arm64
Depends:
 ${misc:Depends}
Description: TI vision-apps
 TI vision-apps
