Source: bb-beagle-version
Section: misc
Priority: extra
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1

Package: bb-beagle-version
Architecture: arm64
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
 , xxd
Description: beagleboard.org beagle-version
 beagleboard.org beagle-version
