[Unit]
Description=BeagleBoard Generate Symlinks
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/bb-symlinks

[Install]
WantedBy=multi-user.target
