[Unit]
Description=BeagleBoard Set up system configuration

[Service]
Type=oneshot
ExecStart=/usr/sbin/bbbio-set-sysconf

[Install]
RequiredBy=basic.target
