Source: ti-edgeai-apps-8.2
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , cmake
 , git
 , libglib2.0-dev
 , libgstreamer1.0-dev
 , libgstreamer-plugins-base1.0-dev
 , libncurses-dev
 , libopencv-core-dev
 , libopencv-imgproc-dev
 , libyaml-cpp-dev
 , pkg-config
 , ti-dlpack-src-8.2
 , ti-neo-ai-dlr-8.2
 , ti-onnxruntime-src-8.2
 , ti-rpmsg-char
 , ti-tensorflow-src-8.2
 , ti-vision-apps-8.2
 , wget
Standards-Version: 4.5.1

Package: ti-edgeai-apps-8.2
Architecture: arm64
Depends:
 ${misc:Depends}
Description: TI edgeai-apps
 TI edgeai-apps
