#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#https://manpages.ubuntu.com/manpages/noble/en/man1/dpkg-buildflags.1.html
export DEB_BUILD_MAINT_OPTIONS = hardening=-branch,-fortify qa=-framepointer

TARGETDIR=bb-u-boot-beagleplay
#/opt/u-boot/$(TARGETDIR)/

#ti-linux-firmware
#HEAD: https://git.ti.com/gitweb?p=processor-firmware/ti-linux-firmware.git;a=summary
#Mirror: https://github.com/beagleboard/ti-linux-firmware
TILF_TAG=09.01.00.008
#TILF_REPO="https://github.com/beagleboard/ti-linux-firmware.git"
#Local Mirror
TILF_REPO="https://git.gfnd.rcn-ee.org/TexasInstruments/ti-linux-firmware.git"

#trusted-firmware-a
#HEAD: https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git/
#TFA_TAG=master
TFA_TAG=v2.10.0
#TFA_REPO="https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git"
#Local Mirror
TFA_REPO="https://git.gfnd.rcn-ee.org/mirror/trusted-firmware-a.git"
TFA_BOARD=lite

#optee_os
#HEAD: https://github.com/OP-TEE/optee_os
#OPTEE_TAG=master
OPTEE_TAG=4.0.0
#OPTEE_REPO="https://github.com/OP-TEE/optee_os"
#Local Mirror
OPTEE_REPO="https://git.gfnd.rcn-ee.org/mirror/optee_os.git"
OPTEE_PLATFORM=k3-am62x

#U-Boot
UB_CONFIG=am62x_evm
UB_CONFIG_BOARD=beagleplay
#UB_BRANCH=master
UB_BRANCH=v2024.01
#UB_REPO="https://git.beagleboard.org/beagleboard/u-boot.git"
#Local Mirror
UB_REPO="https://git.gfnd.rcn-ee.org/mirror/u-boot.git"
UB_TIBOOT=tiboot3-am62x-gp-evm.bin
MCORE=a53

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p ./tmp/pkg/
	mkdir -p /opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	mkdir -p ./tmp/ti-linux-firmware/ ; git -c http.sslVerify=false clone -b $(TILF_TAG) $(TILF_REPO) --depth=5 ./tmp/ti-linux-firmware/ ; rsync -a ./tmp/ti-linux-firmware/* /opt/u-boot/$(TARGETDIR)/ti-linux-firmware/ --delete
	mkdir -p ./tmp/trusted-firmware-a/ ; git -c http.sslVerify=false clone -b $(TFA_TAG) $(TFA_REPO) --depth=5 ./tmp/trusted-firmware-a/ ; git --git-dir ./tmp/trusted-firmware-a/.git log --pretty=oneline
	make -C ./tmp/trusted-firmware-a/ -j8 CROSS_COMPILE=aarch64-linux-gnu- CFLAGS= LDFLAGS= ARCH=aarch64 PLAT=k3 TARGET_BOARD=$(TFA_BOARD) K3_PM_SYSTEM_SUSPEND=1 SPD=opteed all
	cp -v ./tmp/trusted-firmware-a/build/k3/$(TFA_BOARD)/release/bl31.bin ./tmp/pkg/
	cp -v ./tmp/trusted-firmware-a/build/k3/$(TFA_BOARD)/release/bl31.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/optee_os/ ; git -c http.sslVerify=false clone -b $(OPTEE_TAG) $(OPTEE_REPO) --depth=5 ./tmp/optee_os/ ; git --git-dir ./tmp/optee_os/.git log --pretty=oneline
	make -C ./tmp/optee_os/ -j8 O=../optee CROSS_COMPILE=arm-linux-gnueabihf- CROSS_COMPILE64=aarch64-linux-gnu- CFLAGS= LDFLAGS= PLATFORM=$(OPTEE_PLATFORM) CFG_WITH_SOFTWARE_PRNG=y CFG_ARM64_core=y all
	cp -v ./tmp/optee/core/tee-pager_v2.bin ./tmp/pkg/
	cp -v ./tmp/optee/core/tee-pager_v2.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/u-boot/ ; git -c http.sslVerify=false clone -b $(UB_BRANCH) $(UB_REPO) --depth=5 ./tmp/u-boot/ ; git --git-dir ./tmp/u-boot/.git log --pretty=oneline
	make -C ./tmp/u-boot -j1 O=../CORTEXR CROSS_COMPILE=arm-linux-gnueabihf- $(UB_CONFIG)_r5_defconfig $(UB_CONFIG_BOARD)_r5.config
	make -C ./tmp/u-boot -j8 O=../CORTEXR CROSS_COMPILE=arm-linux-gnueabihf- BINMAN_INDIRS=/opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	ls -lha ./tmp/CORTEXR/
	cp -v ./tmp/CORTEXR/$(UB_TIBOOT) ./tmp/pkg/tiboot3.bin
	make -C ./tmp/u-boot -j1 O=../CORTEXA CROSS_COMPILE=aarch64-linux-gnu- $(UB_CONFIG)_$(MCORE)_defconfig $(UB_CONFIG_BOARD)_$(MCORE).config
	make -C ./tmp/u-boot -j8 O=../CORTEXA CROSS_COMPILE=aarch64-linux-gnu- BL31=/opt/u-boot/$(TARGETDIR)/bl31.bin TEE=/opt/u-boot/$(TARGETDIR)/tee-pager_v2.bin BINMAN_INDIRS=/opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	ls -lha ./tmp/CORTEXA/
	cp -v ./tmp/CORTEXA/tispl.bin_unsigned ./tmp/pkg/tispl.bin
	cp -v ./tmp/CORTEXA/u-boot.img_unsigned ./tmp/pkg/u-boot.img

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
