Source: ti-zephyr-firmware
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
 , ca-certificates
 , git
Standards-Version: 4.5.1
Homepage: https://github.com/glneo/zephyr-firmware

Package: ti-zephyr-firmware
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Architecture: arm64
Description: firmware for ti-zephyr-firmware
 firmware for ti-zephyr-firmware
