#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch release-0.5.3 https://github.com/TexasInstruments/edgeai-gst-plugins.git ./tmp/opt/edgeai-gst-plugins/
	cd ./tmp/opt/edgeai-gst-plugins/ ; meson build --prefix=/usr/local -Dpkg_config_path=pkgconfig
	cd ./tmp/opt/edgeai-gst-plugins/ ; ninja -C build
	cd ./tmp/opt/edgeai-gst-plugins/ ; ninja -C build install

%:
	dh $@
