Source: ti-edgeai-apps-src-8.2
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , git
Standards-Version: 4.5.1

Package: ti-edgeai-apps-src-8.2
Architecture: arm64
Depends:
 ${misc:Depends}
 , dialog
Description: TI edgeai-apps src
 TI edgeai-apps src
