#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Disable dh_strip
#override_dh_strip:

# Disable dh_strip_nondeterminism
#override_dh_strip_nondeterminism:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --branch REL.PSDK.LINUX.SK.TDA4VM.08.02.01 --depth 1 https://git.ti.com/git/edgeai/edge_ai_apps ./tmp/opt/edge_ai_apps/

%:
	dh $@
