#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGETDIR=bb-u-boot-beagleboneai64-08.06.00.007
#/opt/u-boot/$(TARGETDIR)/

#ti-linux-firmware
#Grab Tag: https://git.ti.com/gitweb?p=processor-firmware/ti-linux-firmware.git;a=tags
#ti-sysfw: 08.04.00.002 ~ 08.04.00.005: https://git.ti.com/gitweb?p=processor-firmware/ti-linux-firmware.git;a=commit;h=2d9a1002663a20673d942826c558ba4b472ffe9a
#
TILF_TAG=08.04.00.005
TILF_REPO="https://github.com/beagleboard/ti-linux-firmware.git"

#arm-trusted-firmware
#HEAD: https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git/
#Grab Tag: https://git.ti.com/gitweb?p=atf/arm-trusted-firmware.git;a=tags
#TF-A: 08.03.00.003 ~ 08.04.00.002: https://git.ti.com/gitweb?p=atf/arm-trusted-firmware.git;a=commit;h=6541aa24f834daa80da701e0054dfe3a16cda0ce
#
#ATF_TAG=bbb.io-08.01.00.006
ATF_TAG=08.04.00.002
ATF_REPO="https://git.beagleboard.org/beagleboard/arm-trusted-firmware.git"
ATF_BOARD=generic

#optee_os
#HEAD: https://github.com/OP-TEE/optee_os
#Grab Tag: https://git.ti.com/gitweb?p=optee/ti-optee-os.git;a=tags
#OP-TEE: 08.00.00.001 ~ 08.04.00.002: https://git.ti.com/gitweb?p=optee/ti-optee-os.git;a=commit;h=cac3fef2a0b8cb0acb891c5b160a70d1b283907b
#
#TEE_TAG=08.04.00.002
#TEE_TAG=08.01.00.005
TEE_TAG=bbb.io-08.01.00.005
TEE_REPO="https://git.beagleboard.org/beagleboard/optee_os.git"
TEE_BOARD=k3-j721e

#U-Boot
UB_CONFIG=j721e_evm
UB_DM=ipc_echo_testb_mcu1_0_release_strip.xer5f
UB_BRANCH=v2021.01-ti-08.05.00.001
UB_REPO="https://git.beagleboard.org/beagleboard/u-boot.git"
MCORE=a72

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p ./tmp/pkg/
	mkdir -p /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/ti-linux-firmware/ ; git clone -b $(TILF_TAG) $(TILF_REPO) --depth=5 ./tmp/ti-linux-firmware/
	cp -v ./tmp/ti-linux-firmware/ti-dm/j721e/$(UB_DM) /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/arm-trusted-firmware/ ; git clone -b $(ATF_TAG) $(ATF_REPO) --depth=5 ./tmp/arm-trusted-firmware/
	make -C ./tmp/arm-trusted-firmware/ -j4 CROSS_COMPILE=aarch64-linux-gnu- CFLAGS= LDFLAGS= ARCH=aarch64 PLAT=k3 TARGET_BOARD=$(ATF_BOARD) SPD=opteed all
	cp -v ./tmp/arm-trusted-firmware/build/k3/$(ATF_BOARD)/release/bl31.bin ./tmp/pkg/
	cp -v ./tmp/arm-trusted-firmware/build/k3/$(ATF_BOARD)/release/bl31.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/optee_os/ ; git clone -b $(TEE_TAG) $(TEE_REPO) --depth=5 ./tmp/optee_os/
	make -C ./tmp/optee_os/ -j4 O=../optee CROSS_COMPILE=arm-linux-gnueabihf- CROSS_COMPILE64=aarch64-linux-gnu- CFLAGS= LDFLAGS= PLATFORM=$(TEE_BOARD) CFG_ARM64_core=y all
	cp -v ./tmp/optee/core/tee-pager_v2.bin ./tmp/pkg/
	cp -v ./tmp/optee/core/tee-pager_v2.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/u-boot/ ; git clone -b $(UB_BRANCH) $(UB_REPO) --depth=5 ./tmp/u-boot/
	make -C ./tmp/u-boot -j1 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- $(UB_CONFIG)_r5_defconfig
	make -C ./tmp/u-boot -j5 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf-
	ls -lha ./tmp/r5/
	cp -v ./tmp/r5/tiboot3.bin ./tmp/pkg/
	make -C ./tmp/u-boot -j1 O=../$(MCORE) ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- $(UB_CONFIG)_$(MCORE)_defconfig
	make -C ./tmp/u-boot -j5 O=../$(MCORE) ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- ATF=/opt/u-boot/$(TARGETDIR)/bl31.bin TEE=/opt/u-boot/$(TARGETDIR)/tee-pager_v2.bin DM=/opt/u-boot/$(TARGETDIR)/ipc_echo_testb_mcu1_0_release_strip.xer5f
	ls -lha ./tmp/$(MCORE)/
	cp -v ./tmp/$(MCORE)/tispl.bin ./tmp/pkg/tispl.bin
	cp -v ./tmp/$(MCORE)/u-boot.img ./tmp/pkg/u-boot.img

%:
	dh $@

