#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

SRC=onnxruntime

override_dh_auto_configure:
	mkdir -p ./tmp/opt/$(SRC)/ ; cp -r /opt/$(SRC)/* ./tmp/opt/$(SRC)/
	cd ./tmp/opt/$(SRC)/ ; ./build.sh --parallel 4 --skip_tests --build_shared_lib --config Release --cmake_extra_defines="CMAKE_TOOLCHAIN_FILE=../tool.cmake" --path_to_protoc_exe ./cmake/external/protoc-3.11.3-linux-aarch_64/bin/protoc --use_tidl --build_wheel --skip_submodule_sync --enable_pybind ; python3 -m pip install build/Linux/Release/dist/onnxruntime_tidl-1.7.0-cp39-cp39-linux_aarch64.whl --target ./dist-packages/ --no-deps
	cd ./tmp/opt/$(SRC)/build/Linux/Release ; make install DESTDIR=../../../../../
	cd ./tmp/opt/$(SRC)/ ; tree

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
