#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

wfile="v1.12.0.tar.gz"

# Disable dh_link
override_dh_link:

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch TIDL_PSDK_8.1 --depth 1 https://github.com/TexasInstruments/tensorflow.git ./tmp/opt/tensorflow/ ; mkdir -p ./tmp/opt/tensorflow/lite/tools/make/downloads/flatbuffers ; tar xf ./debian/$(wfile) --strip-components=1 -C ./tmp/opt/tensorflow/lite/tools/make/downloads/flatbuffers
	python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ tflite_runtime
	cd ./tmp/opt/tensorflow/tensorflow/lite/tools/make/ ; /bin/bash ./download_dependencies.sh
	cd ./tmp/opt/tensorflow/ ; make -f tensorflow/lite/tools/make/Makefile
	# ; BUILD_DEB=y tensorflow/lite/tools/pip_package/build_pip_package.sh

%:
	dh $@
