[Match]
Name=usb0

[Link]
RequiredForOnline=no

[Network]
Address=192.168.7.2/30
DHCP=no
DHCPServer=true

[DHCPServer]
PoolSize=1
MaxLeaseTimeSec=20min
EmitDNS=no
EmitRouter=yes
EmitTimezone=no
PersistLeases=runtime
