Source: ti-tensorflow-src-8.6
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , git
 , unzip
Standards-Version: 4.5.1

Package: ti-tensorflow-src-8.6
Architecture: arm64
Depends:
 ${misc:Depends}
Description: TI tensorflow 8.6 src
 TI tensorflow 8.6 src /opt/tensorflow
