#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

wfile="v1.12.0.tar.gz"
#https://git.ti.com/gitweb?p=jacinto-linux/meta-psdkla.git;a=blob;f=recipes-tisdk/ti-tidl/ti-tidl.bb;h=5fb0a01691f694adc2a9e0e58d294dc72c51361a;hb=HEAD
#git://github.com/TexasInstruments/tensorflow;branch=tidl-j7-2.8;rev=233657497d2735cae9e840df9e650e268149070d;protocol=https;name=tensorflow;destsuffix=${S}/tensorflow  \

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch TIDL_PSDK_8.4 --depth 1 https://github.com/TexasInstruments/tensorflow.git ./tmp/opt/tensorflow/ ; mkdir -p ./tmp/opt/tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers ; tar xf ./debian/$(wfile) --strip-components=1 -C ./tmp/opt/tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers
	cd ./tmp/opt/tensorflow/ ; find . | grep .git | xargs rm -rf

%:
	dh $@
