#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGETDIR=bb-u-boot-beagleplay-mainline
#/opt/u-boot/$(TARGETDIR)/

#ti-linux-firmware
#HEAD: https://git.ti.com/gitweb?p=processor-firmware/ti-linux-firmware.git;a=summary
#Mirror: https://github.com/beagleboard/ti-linux-firmware
TILF_TAG=09.00.00.007
TILF_REPO="https://github.com/beagleboard/ti-linux-firmware.git"

#arm-trusted-firmware
#HEAD: https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git/
#2.9+
ATF_TAG=master
ATF_REPO="https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git"

#optee_os
#HEAD: https://github.com/OP-TEE/optee_os
#3.22.0+
TEE_TAG=master
TEE_REPO="https://github.com/OP-TEE/optee_os"

#U-Boot
UB_CONFIG=am62x_evm
UB_BRANCH=BeaglePlay-V1-mainline-rfc
UB_REPO="https://git.beagleboard.org/beagleboard/u-boot.git"

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p /opt/u-boot/$(TARGETDIR)/
	mkdir -p /opt/u-boot/$(TARGETDIR)/ti-linux-firmware/ ; git clone -b $(TILF_TAG) $(TILF_REPO) --depth=1 /opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	mkdir -p ./tmp/arm-trusted-firmware/ ; git clone -b $(ATF_TAG) $(ATF_REPO) --depth=1 ./tmp/arm-trusted-firmware/
	make -C ./tmp/arm-trusted-firmware/ -j4 CROSS_COMPILE=aarch64-linux-gnu- CFLAGS= LDFLAGS= ARCH=aarch64 PLAT=k3 TARGET_BOARD=lite K3_PM_SYSTEM_SUSPEND=1 SPD=opteed all
	cp -v ./tmp/arm-trusted-firmware/build/k3/lite/release/bl31.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/optee_os/ ; git clone -b $(TEE_TAG) $(TEE_REPO) --depth=1 ./tmp/optee_os/
	make -C ./tmp/optee_os/ -j4 O=../optee CROSS_COMPILE=arm-linux-gnueabihf- CROSS_COMPILE64=aarch64-linux-gnu- CFLAGS= LDFLAGS= PLATFORM=k3-am62x CFG_WITH_SOFTWARE_PRNG=y CFG_ARM64_core=y all
	cp -v ./tmp/optee/core/tee-pager_v2.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/u-boot/ ; git clone -b $(UB_BRANCH) $(UB_REPO) --depth=1 ./tmp/u-boot/
	make -C ./tmp/u-boot -j1 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- $(UB_CONFIG)_r5_defconfig
	make -C ./tmp/u-boot -j5 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- BINMAN_INDIRS=/opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	ls -lha ./tmp/r5
	make -C ./tmp/u-boot -j1 O=../a53 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- $(UB_CONFIG)_a53_defconfig
	make -C ./tmp/u-boot -j5 O=../a53 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- ATF=/opt/u-boot/$(TARGETDIR)/bl31.bin TEE=/opt/u-boot/$(TARGETDIR)/tee-pager_v2.bin BINMAN_INDIRS=/opt/u-boot/$(TARGETDIR)/ti-linux-firmware/
	ls -lha ./tmp/a53

%:
	dh $@

