#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

wfile="tivision_apps.tar.xz"

override_dh_auto_configure:
	mkdir -p ./tmp/ ; tar xf ./debian/$(wfile) -C ./tmp/
	cd ./tmp/ ; tree

%:
	dh $@
