#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=noautodbgsym

wfile="tivision_apps.tar.xz"

# Disable dh_link
override_dh_link:

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/ ; tar xf ./debian/$(wfile) -C ./tmp/

%:
	dh $@
