#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/ ; git -c http.sslVerify=false clone -b 09.01.00.008 https://git.gfnd.rcn-ee.org/TexasInstruments/ti-linux-firmware.git ./tmp/firmware --depth=1

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
