[Unit]
Description=BeagleBoard CP WPA Supplicant
Before=ssh.service
ConditionFileIsExecutable=/usr/sbin/bb-cp-wpa-supplicant

[Service]
Type=oneshot
ExecStart=/usr/sbin/bb-cp-wpa-supplicant
ExecStartPost=/bin/systemctl disable bb_cp_wpa_supplicant

[Install]
WantedBy=multi-user.target
