#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export SOC=j721e

SRC_REPO="https://git.ti.com/git/edgeai/edgeai-dl-inferer.git"
SRC_BRANCH=EDGEAI_APP_STACK_08_06_01_00
SRC=edgeai-dl-inferer

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch $(SRC_BRANCH) --depth 1 $(SRC_REPO) ./tmp/opt/$(SRC)/
	cp -v debian/common.cmake ./tmp/opt/$(SRC)/
	mkdir -p ./tmp/opt/$(SRC)/build/
	cd ./tmp/opt/$(SRC)/build/ ; cmake -DCMAKE_INSTALL_PREFIX=/usr .. ; make -j8 ; make install DESTDIR=../../../

%:
	dh $@
