#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

# Disable dh_shlibdeps
override_dh_shlibdeps:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone https://git.ti.com/git/graphics/ti-img-rogue-umlibs.git ./tmp/opt/sgx ; cd ./tmp/opt/sgx ; git checkout -b tmp 51e598919641d51156a631efa5447124a3c0f543
	rm ./tmp/opt/sgx/targetfs/am62_linux/wayland/release/etc/init.d/rc.pvr || true ; rm ./tmp/opt/sgx/targetfs/j721e_linux/wayland/release/etc/init.d/rc.pvr || true

%:
	dh $@
