Source: ti-vision-apps-8.1
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , libgles2
 , libegl1
 , libgbm1
 , libwayland-client0
 , libwayland-server0
 , libwayland-egl1
 , libfreetype6
 , libdevil1c2
 , ti-rpmsg-char
 , ti-neo-ai-dlr-8.2
Standards-Version: 4.5.1

Package: ti-vision-apps-8.1
Architecture: arm64
Depends:
 ${misc:Depends}
 , libgles2
 , libegl1
 , libgbm1
 , libwayland-client0
 , libwayland-server0
 , libwayland-egl1
 , libfreetype6
 , libdevil1c2
 , ti-rpmsg-char
 , ti-neo-ai-dlr-8.1
Description: TI vision-apps
 TI vision-apps
