#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGETDIR=bb-u-boot-beagleboneai64-beta

#ti-linux-firmware
#https://git.ti.com/gitweb?p=processor-firmware/ti-linux-firmware.git;a=tags
TILF_TAG=08.03.00.003

#arm-trusted-firmware
#https://git.ti.com/gitweb?p=atf/arm-trusted-firmware.git;a=tags
ATF_TAG=08.03.00.002

#optee_os
#https://git.ti.com/gitweb?p=optee/ti-optee-os.git;a=tags
TEE_TAG=08.04.00.002

#U-Boot
UB_TAG=v2021.01-ti-08.04.01.005
UB_CONFIG=j721e_evm_
UB_ATF=bl31.bin
UB_TEE=tee-pager_v2.bin
UB_DM=ipc_echo_testb_mcu1_0_release_strip.xer5f

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/ti-linux-firmware/ ; git clone -b ${TILF_TAG} https://git.ti.com/git/processor-firmware/ti-linux-firmware.git --depth=1 ./tmp/ti-linux-firmware/
	cp -v ./tmp/ti-linux-firmware/ti-dm/j721e/$(UB_DM) /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/arm-trusted-firmware/ ; git clone -b $(ATF_TAG) https://git.ti.com/git/atf/arm-trusted-firmware.git --depth=1 ./tmp/arm-trusted-firmware/
	make -C tmp/arm-trusted-firmware -j4 CROSS_COMPILE=aarch64-linux-gnu- CFLAGS= LDFLAGS= ARCH=aarch64 PLAT=k3 TARGET_BOARD=generic SPD=opteed all
	cp -v ./tmp/arm-trusted-firmware/build/k3/generic/release/bl31.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/ti-optee-os/ ; git clone -b $(TEE_TAG) https://git.ti.com/git/optee/ti-optee-os.git --depth=1 ./tmp/ti-optee-os/
	make -C tmp/ti-optee-os -j4 CFLAGS= LDFLAGS= PLATFORM=k3-j721e CFG_ARM64_core=y
	cp -v ./tmp/ti-optee-os/out/arm-plat-k3/core/tee-pager_v2.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/u-boot/ ; git -c http.sslVerify=false clone -b $(UB_TAG) https://gitlab.gfnd.rcn-ee.org/RobertCNelson/u-boot.git --depth=1 ./tmp/u-boot/
	make -C ./tmp/u-boot -j1 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- $(UB_CONFIG)r5_defconfig
	make -C ./tmp/u-boot -j5 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf-
	make -C ./tmp/u-boot -j1 O=../a72 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- $(UB_CONFIG)a72_defconfig
	make -C ./tmp/u-boot -j5 O=../a72 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- ATF=/opt/u-boot/$(TARGETDIR)/$(UB_ATF) TEE=/opt/u-boot/$(TARGETDIR)/$(UB_TEE) DM=/opt/u-boot/$(TARGETDIR)/$(UB_DM)

%:
	dh $@

