Source: ti-tidl-rt-8.6
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , ca-certificates
 , git
Standards-Version: 4.5.1

Package: ti-tidl-rt-8.6
Architecture: arm64
Depends:
 ${misc:Depends}
Description: TI TIDL Runtime API 8.6
 TI TIDL Runtime API 8.6
