#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

wfile="v1.12.0.tar.gz"

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch TIDL_PSDK_8.2 --depth 1 https://github.com/TexasInstruments/tensorflow.git ./tmp/opt/tensorflow/ ; mkdir -p ./tmp/opt/tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers ; tar xf ./debian/$(wfile) --strip-components=1 -C ./tmp/opt/tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers
	cd ./tmp/opt/tensorflow/ ; find . | grep .git | xargs rm -rf

%:
	dh $@
