#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGETDIR=bb-u-boot-beagleplay-staging
#/opt/u-boot/$(TARGETDIR)/

#ti-linux-firmware
TILF_TAG=08.06.00.007

#arm-trusted-firmware
ATF_TAG=08.06.00.007

#optee_os
TEE_TAG=3.19.0

#U-Boot
UB_CONFIG=am62x_evm
UB_ATF=bl31.bin
UB_TEE=tee-pager_v2.bin
UB_DM=ipc_echo_testb_mcu1_0_release_strip.xer5f
UB_BRANCH=v2021.01-ti-BeaglePlay-Release

override_dh_strip:
	# Just disable for now...

override_dh_auto_configure:
	mkdir -p /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/ti-linux-firmware/ ; git clone -b $(TILF_TAG) https://git.beagleboard.org/beagleboard/ti-linux-firmware.git --depth=1 ./tmp/ti-linux-firmware/
	cp -v ./tmp/ti-linux-firmware/ti-sysfw/ti-fs-firmware-am62x-gp.bin /opt/u-boot/$(TARGETDIR)/
	cp -v ./tmp/ti-linux-firmware/ti-dm/am62xx/$(UB_DM) /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/arm-trusted-firmware/ ; git clone -b $(ATF_TAG) https://git.beagleboard.org/beagleboard/arm-trusted-firmware.git --depth=1 ./tmp/arm-trusted-firmware/
	make -C tmp/arm-trusted-firmware -j4 CROSS_COMPILE=aarch64-linux-gnu- CFLAGS= LDFLAGS= ARCH=aarch64 PLAT=k3 TARGET_BOARD=lite K3_PM_SYSTEM_SUSPEND=1 SPD=opteed all
	cp -v ./tmp/arm-trusted-firmware/build/k3/lite/release/bl31.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/optee_os/ ; git clone -b $(TEE_TAG) https://git.beagleboard.org/beagleboard/optee_os.git --depth=1 ./tmp/optee_os/
	make -C tmp/optee_os -j4 O=../optee CROSS_COMPILE=arm-linux-gnueabihf- CROSS_COMPILE64=aarch64-linux-gnu- CFLAGS= LDFLAGS= PLATFORM=k3 OPTEEMACHINE=k3-am62x CFG_ARM64_core=y all
	cp -v ./tmp/optee/core/tee-pager_v2.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/u-boot/ ; git clone -b $(UB_BRANCH) https://git.beagleboard.org/beagleboard/u-boot.git --depth=1 ./tmp/u-boot/
	make -C ./tmp/u-boot -j1 O=../a53 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- $(UB_CONFIG)_a53_defconfig
	make -C ./tmp/u-boot -j5 O=../a53 ARCH=arm CROSS_COMPILE=aarch64-linux-gnu- ATF=/opt/u-boot/$(TARGETDIR)/bl31.bin TEE=/opt/u-boot/$(TARGETDIR)/tee-pager_v2.bin DM=/opt/u-boot/$(TARGETDIR)/ipc_echo_testb_mcu1_0_release_strip.xer5f
	cp -v ./tmp/a53/tispl.bin /opt/u-boot/$(TARGETDIR)/
	cp -v ./tmp/a53/u-boot.img /opt/u-boot/$(TARGETDIR)/
	make -C ./tmp/u-boot -j1 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf- $(UB_CONFIG)_r5_defconfig
	make -C ./tmp/u-boot -j5 O=../r5 ARCH=arm CROSS_COMPILE=arm-linux-gnueabihf-
	cp -v ./tmp/r5/spl/u-boot-spl.bin /opt/u-boot/$(TARGETDIR)/
	mkdir -p ./tmp/k3-image-gen/ ; git clone https://git.ti.com/git/k3-image-gen/k3-image-gen.git --depth=1 ./tmp/k3-image-gen/
	cd ./tmp/k3-image-gen/ ; make SOC=am62x CONFIG=evm CROSS_COMPILE=arm-linux-gnueabihf- 'CFLAGS=-fno-builtin -Wall -Iinclude/soc/am62x -Isoc/am62x/evm -Iinclude' SBL=/opt/u-boot/$(TARGETDIR)/u-boot-spl.bin mrproper
	cd ./tmp/k3-image-gen/ ; make SOC=am62x CONFIG=evm CROSS_COMPILE=arm-linux-gnueabihf- 'CFLAGS=-fno-builtin -Wall -Iinclude/soc/am62x -Isoc/am62x/evm -Iinclude' SYSFW_PATH=/opt/u-boot/$(TARGETDIR)/ti-fs-firmware-am62x-gp.bin SBL=/opt/u-boot/$(TARGETDIR)/u-boot-spl.bin
	ls -alh ./tmp/k3-image-gen/
	rm -rf ./tmp/k3-image-gen/tiboot3.bin ; mv -v ./tmp/k3-image-gen/tiboot3-am62x-gp-evm.bin ./tmp/k3-image-gen/tiboot3.bin

%:
	dh $@

