#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export SOC=j721e

# Disable dh_strip
override_dh_strip:

# Disable dh_strip_nondeterminism
override_dh_strip_nondeterminism:

override_dh_auto_configure:
	mkdir -p ./tmp/opt/ ; git clone --single-branch --branch EDGEAI_APP_STACK_08_06_01_00 --depth 1 https://git.ti.com/git/edgeai/edgeai-tiovx-kernels.git ./tmp/opt/edgeai-tiovx-kernels/
	mkdir -p ./tmp/opt/edgeai-tiovx-kernels/build/
	cd ./tmp/opt/edgeai-tiovx-kernels/build/ ; cmake -DCMAKE_INSTALL_PREFIX=/usr .. ; make -j4 ; make install DESTDIR=../../../

%:
	dh $@
