Source: powervr-firmware
Section: misc
Priority: optional
Maintainer: Robert Nelson <robertcnelson@gmail.com>
Build-Depends:
 debhelper (>= 10)
Standards-Version: 4.5.1
Homepage: https://gitlab.freedesktop.org/frankbinns/linux-firmware/-/tree/powervr/powervr

Package: powervr-firmware
Depends:
 ${shlibs:Depends}
 , ${misc:Depends}
Architecture: arm64
Description: Userspace firmware for powervr
 Userspace firmware for powervr
